*.code-workspace
*.pyc
.venv
go2_locomotion/logs/
compare_cfg.py
*.zip
credentials.json
logs/
*.pkl
test_upload.py
token.json
train_from_script.py
.env

thesis/content/
thesis/figures/

*.aux
*.lof
*.log
*.lot
*.lol
*.bcf
*.toc
*.bbl
*.blg
*.run.xml
*.out
*.fdb_latexmk
*.fls
*.pdf

thesis.synctex.gz